.skills {
  padding: 40px;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  
}
.skills-title{
    position: relative;
    margin-bottom: 30px;
}
.skills-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.skills h2 {
  font-size: 50px;
  font-weight: 700;
  background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;

}

.skill-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.skill-item {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-item img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
}

.skill-item p {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}






